h3{
    background-color: tomato;
    color: white;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}
aside{
    border: 2px solid black;
    height: 200px;
    width: 200px;
}
body{
    display: grid;
    grid-template-columns: 3fr 9fr;
}