@import "variables";
@import "olEffects";
@import "imageEffects";
@import "buttonEffects";

body{
    font-family: Arial;
    border: 5px solid green;
    width: 500px;
    box-shadow: $shadow;
    padding: 30px;
}